@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400|Roboto+Mono:400,500,700');

/* COLORS ======
  color: #5C0009; dark red
  color: #940315; light red
  color: #9B96A3; grey
  color: #393845; blue grey
  color: #010000; almost black
====== */

/* ====== GLOBAL STYLES ====== */

body {
  background-image: url(../img/fresh_snow.png);
  background-repeat: repeat;
}

h1 {
  color: #940315;
  font-weight: 650;
  font-family: 'Roboto Mono', monospace;;
  padding-top: 20px;
  /*text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 2px 2px 0px rgba(0,0,0,0.8); */
}

h4 {
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  color: #940315;
    /*text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1.25px 1.25px 0px rgba(0,0,0,0.8); */
}

p, li {
  font-family: 'Nunito Sans', sans-serif;
}

h6 {
  color: #5C0009;
}

a {
  color: #393845;
}

a:link {
    text-decoration: none;
}

a:hover {
  color: #9B96A3;
}

/* ====== SPECIFIC STYLES ====== */

.logo1 {
    margin-top: 50px;
}

.screenies {
  display: inline-block;
  padding-bottom: 25px;
}

.footer {
  padding-top: 35px;
}

/* ====== RESPONSIVE VIDEO EMBED ====== */

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}
